#thankyou {
    color: rebeccapurple;
}

#name {
    color: blue;
}

#address {
    color: red;
}

#options {
    color: green;
}

#number {
    color: teal;
}

#thankyou-2 {
    color: rebeccapurple;
}